@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed;
}

body {
    margin: 68px 0 0;
    background-color: #1B244A;
}
h1 {
    /*font-family: Cursed;
    color: #EEEEEE;
    font-size: 90px;
    color: #F94F6D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: end;
    border: 2px solid white;*/
    
    font-family: Cursed;
  /* color: #EEEEEE; */
  font-size: 90px;
  color: #f94f6d;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /*align-items: end;
    border: 2px solid white;*/
  text-align: center;
  line-height: 1rem;
}

h3 {
    margin: 0 0 21px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #EEEEEE;
    text-align: center;
}

p {
    font-family: Cursed;
    color: #9AABD8;
    font-size: 18px;
}
.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    margin: 0 auto;
}

.counter-card {
    /*background-color: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin-top: 21px;*/
    background-color: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin-top: 21px;
    display: grid;
    align-items: center;
}

.increment-btns {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;

}

.increment-btn {
    background-color: #1B244A;
    font: Cursed;
    border:2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}